body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.topTitle {
    background-color: darkslategray;
    color: azure;
    font-size: 2rem;
}

/*Button Component*/
.mg-button {
    border: 1px solid transparent;
    border-radius: 0;
    padding: 12px 18px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.mg-button-default {
    border: 1px solid lightgrey;
    color: rgba(0,0,0,.65);
    background-color: #fff;
}

.mg-button-default:hover {
    background-color: #fafafa;
    border: 1px solid #1890ff;
    color: #1890ff;
}

.mg-button-default:active {
    background-color: #d9d9d9;
    border: 1px solid lightgrey;
}

.mg-button-primary {
    border: 1px solid transparent;
    color: #fff;
    background-color: #1890ff;
}

.mg-button-primary:hover {
    background-color: #40a9ff;
    border: 1px solid transparent;
    color: #fff;
}

.mg-button-primary:active {
    background-color: #69c0ff;
}

.mg-button-dashed {
    border: 1px dashed lightgrey;
    color: rgba(0,0,0,.65);
    background-color: #fff;
}

.mg-button-dashed:hover {
    background-color: #fafafa;
    border: 1px dashed #1890ff;
    color: #1890ff;
}

.mg-button-dashed:active {
    background-color: #d9d9d9;
}

.mg-button-danger {
    background-color: #f5222d;
    border: 1px solid lightgrey;
    color: #fff;
}

.mg-button-danger:hover {
    background-color: #ff4d4f;
    border: 1px solid transparent;
    color: #fff;
}

.mg-button-danger:active {
    background-color: #ff7875;
}

.mg-button-disabled {
    background-color: #f5f5f5;
    border: #d9d9d9;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
}

.mg-button-disabled:hover {
    background-color: #f5f5f5;
    border: #d9d9d9;
    color: rgba(0, 0, 0, 0.25);
}

.mg-button-disabled:active {
    background-color: #d9d9d9;
}

/*Header Component*/
.mg-header {
    width: 100vw;
    top: 0;
    font-size: 1.5rem;
    background-color: #37474F;
    color: #fff;
}

/*Footer Component*/
.mg-footer {
    width: 100%;
    bottom: 100vh;
    background-color: #37474F;
}

/*Navigation Bar Component*/
.mg-nav-bar {
    position: sticky;
    width: 100%;
    border: 1px solid transparent;
    background-color: #37474F;
    color: #fff;
    display: flex;
    overflow-x: auto;
}

.mg-nav-bar-content {
    min-width: 80px;
    color: #fff;
    background-color: #607D8B;
    font-size: 1rem;
    margin: 1vw 1vh;
}


/*Modal Component*/
.mg-modal {

}

.mg-modal-overlay {

}

/*Operator filter Component*/
.mg-op-filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.mg-op-filter-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.mg-op-filter-cor-wrap {
    display: flex;
    flex-direction: column;
}

.mg-op-filter-buttons {
    display: flex;
    min-width: 500px;
}

.mg-op-filter-items {
    min-width: 50px;
    background-color: #40a9ff;
}

.mg-op-filter-items-selected {
    min-width: 50px;
    background-color: #1890ff;
}