body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.topTitle {
    background-color: darkslategray;
    color: azure;
    font-size: 2rem;
}

/*Header Component*/
.mg-header {
    width: 100%;
    top: 0;
    font-size: 1.5rem;
    background-color: #37474F;
    color: #fff;
}

/*Footer Component*/
.mg-footer {
    width: 100%;
    bottom: 100vh;
    background-color: #37474F;
}

/*Navigation Bar Component*/
.mg-nav-bar {
    position: sticky;
    width: 100%;
    border: 1px solid transparent;
    background-color: #37474F;
    color: #fff;
    display: flex;
    overflow-x: auto;
}

.mg-nav-bar-content {
    min-width: 80px;
    color: #fff;
    background-color: #607D8B;
    font-size: 1rem;
    margin: 1vw 1vh;
}


/*Modal Component*/
.mg-modal {

}

.mg-modal-overlay {

}

/*Operator filter Component*/
.mg-op-filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.mg-op-filter-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.mg-op-filter-cor-wrap {
    display: flex;
    flex-direction: column;
}

.mg-op-filter-buttons {
    display: flex;
    min-width: 500px;
}

.mg-op-filter-items {
    min-width: 50px;
    background-color: #40a9ff;
}

.mg-op-filter-items-selected {
    min-width: 50px;
    background-color: #1890ff;
}