.topTitle {
    background-color: darkslategray;
    color: azure;
    font-size: 2rem;
}


/*Button Component*/
.mg-button {
    border: 1px solid transparent;
    border-radius: 0;
    padding: 12px 18px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.mg-button-default {
    border: 1px solid lightgrey;
    color: rgba(0,0,0,.65);
    background-color: #fff;
}

.mg-button-default:hover {
    background-color: #fafafa;
    border: 1px solid #1890ff;
    color: #1890ff;
}

.mg-button-default:active {
    background-color: #d9d9d9;
    border: 1px solid lightgrey;
}

.mg-button-primary {
    border: 1px solid transparent;
    color: #fff;
    background-color: #1890ff;
}

.mg-button-primary:hover {
    background-color: #40a9ff;
    border: 1px solid transparent;
    color: #fff;
}

.mg-button-primary:active {
    background-color: #69c0ff;
}

.mg-button-dashed {
    border: 1px dashed lightgrey;
    color: rgba(0,0,0,.65);
    background-color: #fff;
}

.mg-button-dashed:hover {
    background-color: #fafafa;
    border: 1px dashed #1890ff;
    color: #1890ff;
}

.mg-button-dashed:active {
    background-color: #d9d9d9;
}

.mg-button-danger {
    background-color: #f5222d;
    border: 1px solid lightgrey;
    color: #fff;
}

.mg-button-danger:hover {
    background-color: #ff4d4f;
    border: 1px solid transparent;
    color: #fff;
}

.mg-button-danger:active {
    background-color: #ff7875;
}

.mg-button-disabled {
    background-color: #f5f5f5;
    border: #d9d9d9;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
}

.mg-button-disabled:hover {
    background-color: #f5f5f5;
    border: #d9d9d9;
    color: rgba(0, 0, 0, 0.25);
}

.mg-button-disabled:active {
    background-color: #d9d9d9;
}
